.containerListaBanner{
    grid-area: bannerCadastrado;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:.5rem;
}
.h1admin{
    font-size: medium;
    color:white
}

.listaBanner{
  min-height: 50%;
  width: 70%;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: thin;
  border: 1px solid white;
  border-radius:5px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 10px;
  padding: 2rem;
}
.listaBannerBox{
  min-height: 80%;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: thin;
  border-radius:5px;
  display: flex;
  flex-direction:row;
  justify-content: start;
  align-items: center;
}
.listaBannerBox::-webkit-scrollbar-track {
    background-color: #464646;
  }

  .listaBannerBox::-webkit-scrollbar {
    height: 10px;
  }

  .listaBannerBox::-webkit-scrollbar-thumb {
    background: #000000;
  }

  .bannerItem {
  height: 100%;
  width: auto;
  position: relative;
  display: inline-block;
  margin: 0 10px;
}

.deleteButton {
  position: absolute;
  top: 10px;
  right: 5px;
  background-color:var(--cor-preto);
  color: white;
  border: none;
  border-radius: 50%;
  width: auto;
  height: auto;
  cursor: pointer;
  padding: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  svg{
    height: 15px;
    width: 15px;
    color:var(--cor-branca);
  }
}
.deleteButton:hover{
background-color: red;

}
.imgcadastradas{
    height: 100%;
    max-width: 100%;
    min-width: 100%;
    flex-shrink: 0;
}